
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(9, 54, 17);
}
.Scorebox{
  font-size: 40px;
  text-align: center;
  border: solid 5px rgb(208, 61, 33);
  width: 180px;
  color: rgb(235, 106, 19);
}
.jumbotron {
  justify-content: center;
  background: rgb(70, 203, 42);
  margin-top: 20px;
  border: solid 5px;
  border-color: rgb(10, 10, 10);
}
canvas{
  border: solid 10px;
  color: rgb(69, 215, 38);
  background: rgb(5, 5, 5);
}

#StartBtn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#StartBtn:hover {border-color: #3e8e41}
#StartBtn:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
