
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(9, 54, 17);
}

.jumbotron {
justify-content: center;
background: rgb(70, 203, 42);
}
canvas{
  border: solid;
  color: rgb(21, 23, 26);
  background: rgb(20, 22, 20);
}

#StartBtn{
  position:absolute;
  top: 350px;
  left: 550px;
  width: 300px;
  height: 60px;
border: solid;
color: rgb(85, 196, 76);
background: rgb(15, 13, 13)

}
